.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem 6rem;
}

.intro {
    text-align: center;
    margin-bottom: 4rem;
    color: var(--text-grey);
}

.galleryGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    grid-auto-rows: 250px;
}

.galleryItem {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.galleryItem:hover .image {
    transform: scale(1.05);
}

.image {
    transition: transform 0.5s ease;
}

.large {
    grid-row: span 2;
    grid-column: span 2;
}

.medium {
    grid-row: span 2;
}

.small {
    grid-row: span 1;
}

@media (max-width: 768px) {

    .large,
    .medium,
    .small {
        grid-column: span 1 !important;
        grid-row: span 1 !important;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(229, 45, 39, 0.6);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}

.galleryItem:hover .overlay {
    opacity: 1;
}

.overlay span {
    color: white;
    font-family: var(--font-great-vibes);
    font-size: 2rem;
    transform: translateY(20px);
    transition: transform 0.3s;
}

.galleryItem:hover .overlay span {
    transform: translateY(0);
}