.reveal {
    opacity: 0;
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.reveal.visible {
    opacity: 1;
    transform: translate(0, 0) !important;
}

/* Directions */
.up {
    transform: translateY(30px);
}

.down {
    transform: translateY(-30px);
}

.left {
    transform: translateX(30px);
}

.right {
    transform: translateX(-30px);
}

.none {
    transform: none;
}